# Eclipse / IDE files
.metadata/
.settings/
.classpath
.project

# Compiled Java files
*.class

# Java build output
bin/
out/
target/

# Module system
module-info.java

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Block nested gitignores & extra repos
**/.gitignore
dsa-practice/
scenario-based-codebase/